@{
    ViewData["Title"] = "Kurslar";
}


@using NamSitaKaurLMS.WebUI.Areas.Admin.Models.ViewModels
@model List<CoursesViewModel>

@{
    ViewData["Title"] = "Kurs İçerik Girişi";
}


<table class="table table-bordered table-hover align-middle w-50">
    <thead>
        <tr>
            <th>Kurs Adı</th>
            <th>Durum</th>
            <th>Başlangıç Tarihi</th>
            <th>Bitiş Tarihi</th>
            <th>Kontenjan</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.Title</td>
                <td>@course.Status</td>
                <td>@course.StartDate</td>
                <td>@course.EndDate</td>
                <td>@course.Quota</td>
                <td>
                    <a asp-action="CreateCourseLesson"
                       asp-controller="Dashboard"
                       asp-area="Admin"
                       asp-route-id="@course.Id" 
                    class="btn btn-secondary">
                        Dersler
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>